@import "../../../../utils/styles/themes/index.sass"

.left-sidebar
  width: 300px
  background-color: rgba(47, 53, 58, 1)
  height: 100%
  position: fixed
  top: 0
  bottom: 0
  overflow-x: hidden
  transition: width .5s ease-in-out
  z-index: 1000
  +if-xs
    width: 100%
  &__wrapper
    position: relative
  &__log-out
    text-align: center
  &__copyright
    width: 100%
    height: auto
    padding-top: 20px
    &--text
      font-family: "Roboto", sans-serif
      font-size: 16px
      color: white
      text-align: center
  &__languages
    display: flex
    margin: 0 auto
    justify-content: center
    width: 60%
    &--ua, &--uk
      width: 30px
      height: auto
  &__hide
    width: 100px
