@import '../../utils/styles/style'

.modal-window
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  justify-content: center
  align-items: flex-start
  z-index: 10
  background-color: rgba(170,170,170, 0.2)
  overflow-y: auto
  &__wrapper
    width: 100%
    margin-top: 100px
    max-width: 400px
    background-color: white
    height: auto
    border-radius: 5px
  &__header
    position: relative
    width: 100%
    background-color: $color-blue
    display: flex
    justify-content: space-between
    align-items: center
    padding: 5px 0
  &__title
    font-size: 18px
    color: white
    font-family: "Roboto", sans-serif
    margin-left: 20px
    text-transform: uppercase




